.outside-container {
    text-align: center;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.tweet-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}