.outside-container {
    text-align: center;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.tweet-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.score-display {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    padding: 6px 16px;
    font-size: 0.875rem;
    width: 70%;
    box-sizing: border-box;
    line-height: 1.25;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    background-color: white;
    color: #3437fa;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.twitter-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.twitter-img {
    border-radius: 50%;
    margin-right: 10px;
}